html {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
}

body {
  background-color: #E8CD9C;
  margin: 0;
}

header {
  background-image: url("./img/background_menu.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}

header.sticky .nav{
  background: #6F1C11;
  transition: 0.5s;
}

.nav {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  width: 45%;
  height: 45%;
}

#menu-icon {
  display: block;
}

.navmenu {
  position: absolute;
  top: 100%;
  width: 100px;
  right: -100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  transition: all .50s ease;
  background-color: rgba(0, 0, 0, 0.60);
  border-radius: 20px;
}

.navmenu.open {
  right: 0;
}


.navmenu li {
  list-style-type: none;
}

.navmenu a {
  color: white;
  font-size: 1.5em;
  font-weight: 400;
  border-bottom: 2px solid transparent;
  transition: all .55s ease;
  text-decoration: none;
}

.navmenu a:hover {
  border-bottom: 2px solid white;
}

#menu-icon {
  color: white;
  cursor: pointer;
  font-size: 35px;
}

.main-text {
  font-size: 2em;
  font-weight: 500;
  padding-top: 150px;
  padding-left: 40px;
  color: white;
  align-items: center;
  margin: 0;
  text-decoration: underline;
}

.menu {
  color: #6F1C11;
}

.menu h2 {
  text-align: center;
}

.menu-steak h3 {
  text-align: center;
}

.menu-steak--img {
  border-radius: 20px;
  width: 100%;
}

.menu-steak--beef {
  border-bottom: solid 2px #6F1C11;
}

.menu-steak--chicken {
  border-bottom: solid 2px #6F1C11;
}

footer {
  background-color: #6F1C11;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.footer-maintext {
  color: #F29B30;
  font-size: 1.2em;
  font-weight: bold;
}

footer p {
  font-size: 0.7em;
  color: white;
}


footer a {
  font-size: 0.7em;
  color: white;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 1.5em;
  }

  .navmenu {
    width: auto;
  }

  header {
    height: 550px;
  }

  .main-text {
    padding-top: 250px;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 1.3em;
  }

  header{
    height: 660px;
  }

  .logo {
    height: 75%;
    width: 75%;
  }

  #menu-icon {
    display: none;
  }

  .navmenu {
    position: static;
    display: flex;
    align-items: center;
    background-color: transparent;
    height: 10vh;
    flex-direction: row;
    gap: 1em;
  }

  .navmenu a {
    font-weight: 600;
  }

  .menu-steak {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1em;
    padding-left: 20px;
    padding-right: 20px;
  }

  .menu img {
    width: 100%;
    height: 80%;
  }

  .main-text {
    padding-top: 270px;
    font-size: 3em;
  }
}

@media only screen and (min-width: 1440px) {
  html {
    font-size: 2em;
  }

  header {
    height: 900px;
  }

  .main-text {
    padding-top: 500px;
  }

}